<?xml version="1.0"?>
<config>
    <modules>
        <school5_ProductLogUpdate>
            <version>0.0.1</version>
        </school5_ProductLogUpdate>
    </modules>
    <global>
        <models>
            <school5_productlogupdate>
                <class>school5_ProductLogUpdate_Model</class>
            </school5_productlogupdate>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <school5_productlogupdate>
                        <class>school5_productlogupdate/observer</class>
                        <method>logUpdate</method>
                        <type>singleton</type>
                    </school5_productlogupdate>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>