<?xml version="1.0"?>
<config>
  <modules>
    <Net_AdminGrid>
      <version>1.0.0</version>
    </Net_AdminGrid>
  </modules>
  <global>
    <helpers>
      <admingrid>
        <class>Net_AdminGrid_Helper</class>
      </admingrid>
    </helpers>
    <blocks>
      <admingrid>
        <class>Net_AdminGrid_Block</class>
      </admingrid>
    </blocks>
     <models>
        <admingrid>
            <class>Net_AdminGrid_Model</class>
            <resourceModel>admingrid_resource</resourceModel>
        </admingrid>
         
        <admingrid_resource>
            <class>Net_AdminGrid_Model_Resource</class>
            <entities>
                <adgrid>
                    <table>admingrid_adgrid</table>
                </adgrid>                    
            </entities>
        </admingrid_resource>
    </models>
     <resources>
         <admingrid_setup>
             <setup>
             <module>Net_AdminGrid</module>
             </setup>
         </admingrid_setup>
        <admingrid_write>
            <connection>
                <use>core_write</use>
            </connection>
        </admingrid_write>
        <admingrid_read>
            <connection>
                <use>core_read</use>
            </connection>
        </admingrid_read>
     </resources>
  </global>

  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <net_admingrid before="Mage_Adminhtml">Net_AdminGrid_Adminhtml</net_admingrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <admingrid>
          <file>admingrid.xml</file>
        </admingrid>
      </updates>
    </layout>
  </adminhtml>
</config> 