<config>
    <modules>
        <Training_Luxtax>
            <version>0.3.0</version>
        </Training_Luxtax>
    </modules>
    <frontend>
        <layout>
            <updates>
                <luxurytax>
                    <file>luxtax/layout.xml</file>
                </luxurytax>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <luxtax>
                    <file>luxtax/layout.xml</file>
                </luxtax>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <luxtax>
                <class>School5_Luxtax_Block</class>
            </luxtax>
        </blocks>
        <resources>
            <luxtax_setup>
                <setup>
                    <module>School5_Luxtax</module>
                </setup>
            </luxtax_setup>
        </resources>
        <helpers>
            <luxtax>
                <class>School5_Luxtax_Helper</class>
            </luxtax>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <base_luxury_tax_amount>
                    <to_order>*</to_order>
                </base_luxury_tax_amount>
                <luxury_tax_amount>
                    <to_order>*</to_order>
                </luxury_tax_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <models>
            <luxtax>
                <class>School5_Luxtax_Model</class>
            </luxtax>
        </models>

        <sales>
            <quote>
                <totals>
                    <lux_tax>
                        <class>luxtax/sales_quote_address_total_luxtax</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </lux_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <lux_tax>
                        <class>luxtax/sales_order_invoice_total_luxtax</class>
                        <after>subtotal</after>
                    </lux_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <lux_tax>
                        <class>luxtax/sales_order_creditmemo_total_luxtax</class>
                        <after>subtotal</after>
                    </lux_tax>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <default>
        <luxtax>
            <luxtax_group>
                <luxurytax_fetch_bool>1</luxurytax_fetch_bool>
                <luxurytax_luxury_tax_amount>10</luxurytax_luxury_tax_amount>
                <luxurytax_price>200</luxurytax_price>
            </luxtax_group>
        </luxtax>
    </default>
</config>